<img src=images/logo.png align='right' width=200>

# Rolling Averages

## Goal
In this notebook we shall examine how Pandas can be used to compute rolling averages. This process can help to make trends clearer to visualise.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Again, we will use the *household power consumption* dataset. It comes from [UCI ML repo](https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption) and contains detailed power consumption time series data of a single household in Paris between 2006 and 2010.
![]()

In [2]:
power = pd.read_csv('data/household_power_consumption.csv', parse_dates=['ts'], index_col='ts')
power_daily = power.resample('D').sum()
power_daily.head()

             consumption
ts
2006-12-16  14680.933333
2006-12-17  36946.666667
2006-12-18  19028.433333
2006-12-19  13131.900000
2006-12-20  20384.800000

<a id='s'></a>
## Shifting

It can be often useful to shift some variables forward or backwards in time. This can for example help us create variables with lagged values or calculate differences in values between time steps. This can be done using Panda's `shift()` method, which can shift values by a given number of periods (positive or negative). The example below uses this method to create a new variable for electricity consumption during the previous day:

In [5]:
power_daily[['consumption']]

             consumption
ts
2006-12-16  14680.933333
2006-12-17  36946.666667
2006-12-18  19028.433333
2006-12-19  13131.900000
2006-12-20  20384.800000
...                  ...
2010-11-22  16924.600000
2010-11-23  16352.266667
2010-11-24  13769.466667
2010-11-25  17278.733333
2010-11-26  13347.733333

[1442 rows x 1 columns]

In [6]:
power_daily[['consumption']].shift()

             consumption
ts
2006-12-16           NaN
2006-12-17  14680.933333
2006-12-18  36946.666667
2006-12-19  19028.433333
2006-12-20  13131.900000
...                  ...
2010-11-22   9731.166667
2010-11-23  16924.600000
2010-11-24  16352.266667
2010-11-25  13769.466667
2010-11-26  17278.733333

[1442 rows x 1 columns]

In [ ]:
(
    power_daily
    .assign(consumption_yesterday = lambda df: df['consumption'].shift(1))
    .assign(consumption_increase = lambda df: df['consumption'] - df['consumption_yesterday'])
    .dropna()
    .head()
)

Alternatively we can use the `diff()` method to do this.

In [ ]:
(
    power_daily
    .assign(consumption_increase = lambda df: df['consumption'].diff(1))
    .dropna()
    .head()
)

<a id='rs'></a>
## Rolling average

Let us have a closer look at the power consumption patterns during a single year. The simplest way to plot timestamp data dynamics in Pandas is using `plot()`, which by default plots a linear plot over time:

In [ ]:
power_daily2008 = power_daily.loc['2008']

power_daily2008.plot(figsize=(18,6));

Various patterns can be seen on this daily line graph, but overal patterns may be hard to seen due to noise plentiful short spikes. 

In order to see a *smoother* patterns over time, a __rolling average__ can be applied to a time series. A rolling average walks over a given window (7 days for example) and calculates the average for each window.

If our window would look backwards in time, the rolling average for our daily power consumption dataset in 2008 would be as follows:

| Window            | Average |
|-------------------|---------|
| ...               | ...     |
| 1st Jan 2008 - 7th Jan 2008| 19163   |
| 2nd Jan 2008- 8th Jan 2008| 17752   |
| 3rd Jan 2008 - 9th Jan 2008| 18334.   |
| ....              | ...     |

In [ ]:
(
    power_daily2008
    .loc['2nd Jan 2008':'8th Jan 2008']
    .mean()
)

Pandas can perform rolling calculations via the `.rolling()` method which can be called on both a dataframe as well as a series object.

In [ ]:
(
    power_daily2008
    .assign(rolling_mean=lambda df: df['consumption'].rolling('7D').mean())
).head(10)

The window size for this method can be set using both a fixed number of data points as well as particular time intervals (days, weeks etc).

In [ ]:
(
    power_daily2008
    .assign(rolling_mean=lambda df: df['consumption'].rolling(7).mean())
).head(10)

Plotting the rolling average of time series data can remove the noise spikes and allow us to see the patterns in the data.

In [ ]:
(
    power_daily2008
    .assign(rolling_mean=lambda df: df['consumption'].rolling('20D').mean())
      .drop(columns=['consumption'])
    .plot(figsize=(16, 4))
);

Notice how the smoothness is affected by the window size.

In [ ]:
(
    power_daily2008
    .assign(rolling_mean=lambda df: df['consumption'].rolling('20D').mean())
    .assign(rolling_mean_small=lambda df: df['consumption'].rolling('7D').mean())
    .assign(rolling_mean_large=lambda df: df['consumption'].rolling('60D').mean())
    #.drop(columns=['consumption'])
    .plot(figsize=(16, 4))
);

Note that the smoothed lines above are lagging behind what actually happens.

This is because by default, pandas computes the rolling average using information from the previous datapoints.

We can remove this effect using **centering**.

To center the rolling mean, we can use the option `center=True`.

In [ ]:
(
    power_daily2008
    .assign(rolling_mean=lambda df: df['consumption'].rolling('5D').mean())
    .assign(rolling_mean_center=lambda df: df['consumption'].rolling('5D', center=True).mean())
).head()

In [ ]:
(
    power_daily2008
    .assign(rolling_mean=lambda df: df['consumption'].rolling('21D').mean())
    .assign(rolling_mean_center=lambda df: df['consumption'].rolling('21D', center=True).mean())
    #.drop(columns=['consumption'])  
    .plot(figsize=(16,4), title='rolling_mean_center and manual_center overlap' )
);

Alternatively, we could manually shift the data backwards. 

You can see below how both achieve the same result - the lines are overlapping!

In [ ]:
(
    power_daily2008
    .assign(rolling_mean=lambda df: df['consumption'].rolling('21D').mean())
    .assign(rolling_mean_center=lambda df: df['consumption'].rolling('21D', center=True).mean())
    .assign(manual_center=lambda df: df['rolling_mean'].shift(-10))
    .drop(columns=['consumption', 'rolling_mean']) 
    .plot(figsize=(16,4), title='rolling_mean_center and manual_center overlap')
);

**Important**: Note that centering requires information from the future for each point, which means it would be unfair to use it for predictions.

You can also do more than just 'calculating the mean' — you can also compute other statistics (such as variance).

In [ ]:
(
    power_daily2008
    .assign(
        rolling_var=lambda df: df['consumption'].rolling('20D').var(),
        #rolling_var_center=lambda df: df['consumption'].rolling(20, center=True).var()
    )
    .drop(columns='consumption')
    .plot(figsize=(16,4))
);

## <mark>Exercise: Rolling averages

Compute the rolling 5-day average for the original power dataset.

Can you find the 5-day period of time that has the highest average power consumption?

#### Rolling Average Summary

A simple way to isolate signal from noise in time series data and get an idea about general time series behavior.

It however has some important drawbacks:

- small window sizes can lead to more noise than signal
- it always lags by the window size (unless centered)
- it is not really informative about the future
- can be significantly skewed by extreme datapoints in the past